body {
	background-color:#fafafa;
	font-family: 'Yantramanav', sans-serif;
	color:#2d3c49;
 }

img, embed, object, video {
	max-width:100%;
}


/*
---------------------------------------*/
.container {
	max-width:960px;
	background-color:#fff;
	border: 1px solid #ddd;
}


/*
---------------------------------------*/
.header {
	margin-bottom: 0px;
	font-size: 45px;
	font-weight: 100;
}

.sub-header {
	margin-top: 0px;
	font-weight: bold;
}

.project h2 {
	margin-top: 10px;
}

.project img {
	max-width: 400px;
	max-height: 300px;
	width: 289px;
	height: 216.75px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.top-main-hr {
	border-top: 3px solid #7d97ad;
}

.second-header {
	color: #7d97ad;
}

.main-pic {
	width: 928px;
	height: 371.2px;
}